{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

{% set language = (siteaccess[ezpublish.siteaccess.name].language) %}

<div class="content-view-full">
    <div class="content-type-folder">
        <div class="attribute-title">
            <h2>{{ ez_render_field( content, 'name', { lang: language } ) }}</h2>
        </div>

        <div class="attribute-short">
            {{ ez_render_field( content, 'short_description', { lang: language } ) }}    
        </div>


        <div class="attribute-long">
            {{ ez_render_field( content, 'description', { lang: language } ) }}
        </div>

        {% if content.fields.show_children is defined and content.getField( 'show_children' ).value.bool %}
            <div class="attribute-children">
            {{ render( controller( "tutei:lineList", 
                                   { 'location': location } ) ) }}             
            </div>
        {% endif %}
    </div>
</div>


{% endblock %}