{% set language = (siteaccess[ezpublish.siteaccess.name].language) %}

<article class="content-view-line">
    <div class="content-type-folder">
        
        <header class="attribute-title">
            <h2>
                <a href="{{ path( location ) }}" title="{{ location.contentInfo.name }}">{{ ez_render_field( content, 'name' ) }}</a>
            </h2>
        </header>
        
        {% if not ez_is_field_empty( content, 'short_description', { lang: language } ) %}
        <div class="attribute-short">
                {{ ez_render_field( content, 'short_description', { lang: language } ) }}
        </div>
        {% endif %}
    </div>
</article>
