{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

{% set language = (siteaccess[ezpublish.siteaccess.name].language) %}

<div class="content-view-full">
    <div class="content-type-folder">
        <div class="attribute-title">
            <h2>{{ ez_render_field( content, 'title', { lang: language } ) }}</h2>
        </div>

        <div class="attribute-children">
        {{ render( controller( "tutei:lineList", 
                               { 'location': location,
                                 'request': app.request } ) ) }}             
        </div>
    </div>
</div>


{% endblock %}