{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

{% set language = (siteaccess[ezpublish.siteaccess.name].language) %}

<div class="content-view-full">
    <div class="content-type-folder">
        <div class="attribute-title">
            <h2>{{ ez_render_field( content, 'title', { lang: language } ) }}</h2>
        </div>
        
        {% if content.fields.image is defined %}
        <div class="attribute-image">
        {{ ez_render_field(content, 'image', {
                                        parameters:{ alias:'small' },
                                        attr:{ class:'block_item', custom_attribute:'value' }
                                     }
                  )
        }}
        </div>
        {% endif %} 

        {% if not ez_is_field_empty( content, "intro" ) %}
        <div class="attribute-short">
            {{ ez_render_field( content, 'intro', { lang: language } ) }}    
        </div>
        {% endif %}

        {% if not ez_is_field_empty( content, "body" ) %}
        <div class="attribute-long">
            {{ ez_render_field( content, 'body', { lang: language } ) }}
        </div>
        {% endif %}
        
    </div>
</div>

{% endblock %}
