{% extends noLayout ? viewbaseLayout : "TuteiBaseBundle::pagelayout.html.twig" %}

{% block content %}

{% set language = (siteaccess[ezpublish.siteaccess.name].language) %}

<div class="content-view-full">
    <div class="content-type-folder">
        <div class="attribute-title">
            <h2>{{ ez_render_field( content, 'title', { lang: language } ) }}</h2>
        </div>

        <div class="attribute-short">
            {{ ez_render_field( content, 'intro', { lang: language } ) }}    
        </div>


        <div class="attribute-long">
            {{ ez_render_field( content, 'body', { lang: language } ) }}
        </div>

    </div>
</div>

{% endblock %}
