<div class="content-view-line">
    <div class="content-type-article">

        <div class="attribute-title">
            <h2>
                <a href="{{ path( location ) }}" title="{{ location.contentInfo.name }}">{{ ez_render_field( content, 'title' ) }}</a>
            </h2>
        </div>

        {% if not ez_is_field_empty( content, 'intro' ) %}
        <div class="attribute-short">
                {{ ez_render_field( content, 'intro' ) }}
        </div>
        {% endif %}
    </div>
</div>