<div class="content-view-line">
    <div class="content-type-default">

        <div class="attribute-title">
            <h2>
                <a href="{{ path( location ) }}" title="{{ location.contentInfo.name }}">{{ location.contentInfo.name }}</a>
            </h2>
        </div>

    </div>
</div>
