<article class="content-view-line">
    <div class="content-type-default">

        <header class="attribute-title">
            <h2>
                <a href="{{ path( location ) }}" title="{{ location.contentInfo.name }}">{{ location.contentInfo.name }}</a>
            </h2>
        </header>

    </div>
</article>
