header .company-logo {
    margin-bottom: 10px;
    margin-top: 20px;
    padding:15px;
}

.side-menu {
    margin-bottom:15px;
}

.top-menu > ul > li > a {
    border-bottom: 2px solid rgba(0, 0, 0, 0);
}

.top-menu > ul.navbar-nav > li > a:hover,
.top-menu > ul.navbar-nav > li.active > a:hover{
    color: #428BCA;
    border-bottom: 2px solid #428BCA;
    box-sizing:border-box;
}
.content-view-full {
    margin-bottom:25px;    
}

figure.ezimage-field {
    text-align:center;
}

figure.ezimage-field img {
    max-width:100%; 
    width:100%;
    height:auto;
}

.user-menu{
    font-size:0.9em;
    padding-top:5px;    
}

.pagination ul {
    list-style: none;
}

.pagination ul li {
    display:inline;
    padding: 0 10px;
}

.menu-search .form-group {
    width:400px;
}

.menu-search input {
    width:300px;
}


/* Gallery */

.content-type-gallery figure.ezimage-field img {
    
    width:auto;
}

.content-type-gallery figure.ezimage-field {
    
    text-align:left;
    
}


/* Images */

.image-small {
    max-width:180px;
    height:auto;
    
}



/* Social Icons */


/* Create square icons, white logo on colored background */

.social-bar .icon {
    color: white;
    border-radius: 4px;
    border: 1px outset rgba(128, 128, 128, 0.5);
    min-width: 27px;
    line-height: 27px;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(128, 128, 128, 0.5);
}

.social-bar a {
    margin-right: 5px;
    padding: 5px; /* Increase hit rectangle for touch devices */
    text-decoration: none;
}

.social-bar a:first-child {
    padding-left: 0;
}

/* Set icon color related to the service */

.social-bar a span {
    margin-left: 5px;
}

.social-bar .icon-rss {
    color: #e5842f;
}

.social-bar .icon-facebook {
    color: #3B5998;
}

.social-bar .icon-github {
    color: #000;
}

.social-bar .icon-twitter {
    color: #00ACED;
}

.social-bar .icon-google-plus {
    color: #E14107;
}

.social-bar a:hover span {
    color: #333333; /* Match icon highlight color */
}

/* Animate mouse hover */
.social-bar a span {
   transition: color 0.5s;
}

.social-bar a:hover span {
    color: #333333;
    transition: color 0.5s;
}