.side-menu {
    margin-bottom:15px;
}
.content-view-full {
    margin-bottom:25px;    
}

figure.ezimage-field {
    text-align:center;
}

figure.ezimage-field img {
    max-width:100%; 
    width:100%;
    height:auto;
}

.user-menu{
    font-size:0.9em;
    padding-top:5px;    
}

.pagination ul {
    list-style: none;
}

.pagination ul li {
    display:inline;
    padding: 0 10px;
}


/* Gallery */

.content-type-gallery figure.ezimage-field img {
    
    width:auto;
}

.content-type-gallery figure.ezimage-field {
    
    text-align:left;
    
}


/* Images */

.image-small {
    max-width:180px;
    height:auto;
    
}