.side-menu {
    margin-bottom:15px;
}
.content-view-full {
    margin-bottom:25px;    
}

figure.ezimage-field {
    text-align:center;
}

figure.ezimage-field img {
    max-width:100%;    
}

.user-menu{
    font-size:0.9em;
    padding-top:5px;    
}

.pagination ul {
    list-style: none;
}

.pagination ul li {
    display:inline;
    padding: 0 10px;
}