<footer class="container" role="contentinfo" aria-labelledby="footer-desc">
    <p id="footer-desc" class="sr-only">Footer content</p>
    <div class="row">
        <div class="col-md-4">
            <!-- About -->
            <h2>About</h2> 
            <p>TuteiBaseBundle is a clean eZ publish 5 bundle that features common features and also an installer script.</p>                            
        </div><!--/col-md-4--> 

        <div class="col-md-4">
            <!-- Monthly Newsletter -->

            <h2 class="headline">Contact Us</h2>
            <address>
                101, BaseBundle Street, eZ publish<br>
                Community, NO <br>
                Phone: 555 555 5555<br>
                Fax: 555 555 5555<br>
                Email: <a class="" href="mailto:nospam@company.com">nospam@company.com</a>

            </address>
        </div><!--/col-md-4-->

        <div class="col-md-4">
            <!-- Stay Connected -->
            <div class="headline"><h2>Stay Connected</h2></div> 
            <div class="social-bar">
                <a href="https://www.facebook.com/thiagocamposviana" target="_blank">
                    <span class="fa-stack fa-lg icon-facebook">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://twitter.com/tcv_br" target="_blank">
                    <span class="fa-stack fa-lg icon-twitter">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://plus.google.com/116026022246221247074/" target="_blank">
                    <span class="fa-stack fa-lg icon-google-plus">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="mailto:thiagocamposviana@gmail.com">
                    <span class="fa-stack fa-lg icon-rss">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
                <a href="https://github.com/thiagocamposviana/TuteiBaseBundle">
                    <span class="fa-stack fa-lg icon-github">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-github-alt fa-stack-1x fa-inverse"></i>
                    </span>
                </a>
            </div>
        </div><!--/col-md-4-->

    </div>          

    <hr>

    <div class="copyright">
        <p class="pull-right"><a href="#top">Back to top</a></p>
        <p>Created by <a href="mailto:thiagocamposviana@gmail.com">Thiago Campos Viana</a></p>

    </div>

</footer>
