{% if  banners[0] is defined %}
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
      {% for item in banners[0].searchHits %}
    <li data-target="#carousel-example-generic" 
        data-slide-to="{{ loop.index-1 }}"{%if loop.index-1==0 %} class="active"{% endif %}></li>
    {% endfor %}
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    {% for item in banners[0].searchHits %}
      
   
    {% set newWindow = ez_field_value(item.valueObject,'new_window').bool %}

    {% set link = '' %}

    {% if not ez_is_field_empty( item.valueObject, "link_object" ) %}
        {% set link = path(relation_list[ez_field_value(item.valueObject,'link_object').destinationContentId]) %}
    {% elseif not ez_is_field_empty( item.valueObject, "link_external" ) %}
        {% set link = ez_field_value(item.valueObject, 'link_external').link %}
    {% endif %}   
      
      
    <div class="item{%if loop.index-1==0 %} active{% endif %}">
        
                
        {% if not ez_is_field_empty( item.valueObject, "image" ) %}
        <div class="attribute-image">
            <a href="{{ link }}"{% if newWindow %} target="_blank"{% endif %}>
              {{ ez_render_field(item.valueObject, 'image', {
                                              parameters:{ alias:'small' },
                                              attr:{ class:'block_item' }
                                           }
                        )
              }}</a>
            
        </div>
        {% endif %}

      <div class="carousel-caption">
        {{ ez_render_field( item.valueObject, 'title' ) }}
      </div>
      
    </div>
    {% endfor %}
  </div>

  <!-- Controls -->
  
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
    
</div>

{% endif %}