{% for list in blocks %}

{% set columns = ez_field_value(list.content.valueObject, 'columns').value %}
{% set column_width = 12 // columns %}


<section class="row">
    {% for item in list.children.searchHits %}

    {% if loop.index0 > 0 and loop.index0 % columns == 0 %}
    </div>
    <div class="row">
    {% endif %}

    <div class="col-md-{{ column_width }}">
        {{ render(
             controller(
                 'ez_content:viewLocation',
                 {
                     'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
                     'viewType': 'block',
                     'params':{'relation_list':relation_list}
                 }
             )
        ) }}
    </div>    
    {% endfor %}
</section>

{% endfor %}
