<ul class="nav side-menu">
        {% for item in list.searchHits %}
        <li>{{ render(
                   controller(
                       'ez_content:viewLocation',
                       {
                           'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
                           'viewType': 'menu_item'
                       }
                   )
               ) }}</li>
        {% endfor %}
</ul>


{# TODO: use macro here to show sub levels #}