<ul class="nav">

    <li class="active">
        <a href="#overview">Place holder</a>
        <ul class="nav">
            <li class=""><a href="#overview-doctype">HTML5 doctype</a></li>
            <li class=""><a href="#overview-mobile">Mobile first</a></li>
            <li><a href="#overview-responsive-images">Responsive images</a></li>
            <li><a href="#overview-type-links">Typography and links</a></li>
            <li><a href="#overview-normalize">Normalize</a></li>
            <li><a href="#overview-container">Containers</a></li>
        </ul>
    </li>
</ul>


{# TODO: use macro here to show sub levels #}