{% if list.totalCount != 0 %}
<div class="navbar navbar-collapse side-menu"  role="navigation">
<ul class="nav  nav-tabs nav-stacked">
        {% for item in list.searchHits %}
        <li>{{ render(
                   controller(
                       'ez_content:viewLocation',
                       {
                           'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
                           'viewType': 'menu_item'
                       }
                   )
               ) }}</li>
        {% endfor %}
</ul>
</div>
{% endif %}

{# TODO: use macro here to show sub levels #}