<h3>Side menu</h3>

<ul class="nav side-menu">

    <li class="active">
        {% for item in list.searchHits %}
        <li>
            <a href="{{ path( location[item.valueObject.versionInfo.contentInfo.mainLocationId] ) }}" title="{{ item.valueObject.versionInfo.contentInfo.name }}">
                {{ item.valueObject.versionInfo.contentInfo.name }}
            </a>
        </li>
        {% endfor %}
    </li>
</ul>


{# TODO: use macro here to show sub levels #}