{% for item in list.searchHits %}

{% set locationdId = item.valueObject.versionInfo.contentInfo.mainLocationId %}

{% set active = false %}
{% if locationdId in locations %}
    {% set active = true %}
{% endif %}

{% set dropdown = false %}
{% set css_classes = 'topmenu-item' %}
{% set extra_attributes = '' %}

{% if location_children[locationdId] is defined %}

    {% set dropdown = true %}

    {% set css_classes = css_classes ~ ' dropdown' %}
{% endif %}

{% if active %}
    {% set css_classes = css_classes ~ ' active' %}
{% endif %}





<li class="{{ css_classes }}"{{ extra_attributes|raw }}>{{ render(
                   controller(
                       'ez_content:viewLocation',
                       {
                           'locationId': item.valueObject.versionInfo.contentInfo.mainLocationId,
                           'viewType': 'menu_item',
                           'params': {
                                'active':active,
                                'dropdown' : dropdown
                            }
                       }
                   )
               ) }}
    {% if location_children[locationdId] is defined %}
    <ul class="dropdown-menu">
        {% for subitem in location_children[locationdId].searchHits %}
        <li>
        {{ render(
                   controller(
                       'ez_content:viewLocation',
                       {
                           'locationId': subitem.valueObject.versionInfo.contentInfo.mainLocationId,
                           'viewType': 'menu_item',
                           'params': {}
                       }
                   )
               ) }}</li>
        {% endfor %}
    </ul>
    {% endif %}</li>
{% endfor %}